
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} 
.couple
{                                                                              
   display: flex;
  justify-content: center;
  margin:0 auto;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
overflow:visible;
}



.text-invite{
    position:relative;
    margin-top:-120px;
    text-align:center;

}
body{
    background-color:rgb(167, 107, 157);
} 



@keyframes textscroll {
    from{
       
        opacity:0;
        transform:translateY(40px)
       
    }
    to{
       opacity:1;
       transform:translateY(0);
    }
    
}

.background img{
    width:100%;
    height:100%;
    object-fit:contain;
}
.invitation{
    position:relative;
    min-height:100vh;
    background-image: url("puto.png");
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    padding-top: 200px;
}

.text-invite,.couple{
    position:relative;
    z-index:1;
}
html,body{
    margin:0;
    padding:0;
    height:100%;
}
.text-top{
    opacity:0;
    animation-name: top-animation;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    animation-duration: 1s;
}
.text-bottom{
    opacity:0;
    animation-name: bottom-animation;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
    animation-duration: 1s;
    
}
@keyframes top-animation {
    from{
        opacity:0;
        transform: translateY(-50px);
        
       
    }
    to{
       opacity:1;
       transform: translateY(0);

    }
    
}
@keyframes bottom-animation {
    from{
        opacity:0;
        transform: translateY(50px);
        
       
    }
    to{
       opacity:1;
       transform: translateY(0);

    }
    
}

.couple-wrapper{
    width:100%;
    max-width:320px;
    height:auto;
    transform: translateY(-40px);
    border-radius:24px;
    opacity: 0.92;
    box-shadow:0 20px 40px rgba(255,230,220,0.6);
    filter:saturate(0.98) contrast(0.98);
    margin:auto;
    filter:none;
    
     -webkit-mask-image:linear-gradient(
            to right,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0.85) 6%,
            rgba(0,0,0,1) 14%,
            rgba(0,0,0,1) 86%,
            rgba(0,0,0,0.85) 94%,
            rgba(0,0,0,0) 100%
        ),
      
        linear-gradient(
            to bottom,
            rgba(0,0,0,1) 55%,
            rgba(0,0,0,0.7) 70%,
            rgba(0,0,0,0.3) 85%,
            rgba(0,0,0,0) 100%
        );

    -webkit-mask-composite: intersect;
    mask-composite: intersect;

}
.petals{
    position:absolute;
    inset:0;
    pointer-events:none;
    overflow:hidden;
    z-index:3
}
.petals span{
    position:absolute;
    top:-20%;
    width:12px;
    height:12px;
    background: rgba(231, 88, 109, 0.8);
    border-radius: 50% 50% 50% 0;
    transform:rotate(45deg);
    animation:fall 4s linear infinite;
}
@keyframes fall{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(180px);
        opacity: 0;
    }
}

.petals span:nth-child(1){ left: 5%;  animation-delay: 0s; }
.petals span:nth-child(2){ left: 12%; animation-delay: 0.6s; }
.petals span:nth-child(3){ left: 18%; animation-delay: 1.2s; }
.petals span:nth-child(4){ left: 25%; animation-delay: 0.9s; }
.petals span:nth-child(5){ left: 32%; animation-delay: 1.6s; }

.petals span:nth-child(6){ left: 38%; animation-delay: 0.4s; }
.petals span:nth-child(7){ left: 45%; animation-delay: 1.1s; }
.petals span:nth-child(8){ left: 52%; animation-delay: 1.8s; }
.petals span:nth-child(9){ left: 58%; animation-delay: 0.7s; }
.petals span:nth-child(10){ left: 65%; animation-delay: 1.4s; }

.petals span:nth-child(11){ left: 72%; animation-delay: 0.2s; }
.petals span:nth-child(12){ left: 78%; animation-delay: 1.0s; }
.petals span:nth-child(13){ left: 85%; animation-delay: 1.7s; }
.petals span:nth-child(14){ left: 92%; animation-delay: 0.5s; }
.petals span:nth-child(15){ left: 98%; animation-delay: 1.3s; }
.names {
    font-family: 'Great Vibes', cursive;
    font-size: 56px;
    letter-spacing: 2px;
    color: #632222; 
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     text-shadow: 
        0.5px 0.5px 0 rgba(0,0,0,0.15),
       -0.5px -0.5px 0 rgba(0,0,0,0.15);

}
.invite-text{
font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    color: #5a3a3a;
    line-height: 1.6;
}

.details {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14px;
    letter-spacing: 1px;
    opacity: 0.85;
    margin-top: 10px;
    color:#542f2f
}
@media(max-width:600px){
    .couple-image{
        width:70%;
    }
}
.couple-image{
    max-width:300px;
    height:auto;
}
@media (max-width: 768px) {

  
  .invitation {
    padding-top: 80px;
  }

  
  .text-top h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  
  .text-bottom {
    font-size: 14px;
    padding: 0 20px;
  }

  
  .couple {
    width: 90%;
    margin-top: 40px;
  }

 
  .couple-image {
    width: 90%;
    max-width: 300px;
    height: auto;
  }
  .names {
    font-size: 34px;
    letter-spacing: 1px;
  }

  .invite-text {
    font-size: 14px;
    padding: 0 18px;
  }

  .details {
    font-size: 13px;
  }

  .couple-wrapper {
    max-width: 260px;
    transform: translateY(-20px);
    box-shadow:0 12px 24px rgba(255,230,220,0.4);
  }


}
